<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Narkal/Restaurant Sign Up</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/stylesheets/restaurant-options.css">
</head>

<body>
  <section class="options" id="options">
      <form class="form__options" id="form__options" method="post" action="/restaurant-options">
        <h1 class="header">Select the Narkons that best describe your restaurant!</h1>
        <section class="specialties sections">
          <h2>Specialties</h2>
          <% for(let i = 0; i < info.length; i++){
            let id = info[i].id;
            let label = info[i].name;
            let type = info[i].type;

            if(type === "Specialties"){
          %>
          <label class="checkbox_label" for="option_<%=id%>"><%=label%></label>
          <input class="checkbox_options" type="checkbox" value="<%=id%>" name="option_<%=id%>" /><br>
          <%}}%>
        </section>
        <section class="food_allergens sections">
          <h2>Possible Allergens You Serve</h2>
          <% for(let i = 0; i < info.length; i++){
            let id = info[i].id;
            let label = info[i].name;
            let type = info[i].type;

            if(type === "Food Allergies"){
          %>
          <label class="checkbox_label" for="option_<%=id%>"><%=label%></label>
          <input class="checkbox_options" type="checkbox" value="<%=id%>" name="option_<%=id%>" /><br>
          <%}}%>
        </section>
        <section class="dietary_options sections">
          <h2>Dietary Options You Serve</h2>
          <% for(let i = 0; i < info.length; i++){
            let id = info[i].id;
            let label = info[i].name;
            let type = info[i].type;

            if(type === "Dietary"){
          %>
          <label class="checkbox_label" for="option_<%=id%>"><%=label%></label>
          <input class="checkbox_options" type="checkbox" value="<%=id%>" name="option_<%=id%>" /><br>
          <%}}%>
        </section>
        <section class="food_type sections">
          <h2>Type of Cuisine You Serve</h2>
          <% for(let i = 0; i < info.length; i++){
            let id = info[i].id;
            let label = info[i].name;
            let type = info[i].type;

            if(type === "Food Type"){
          %>
          <label class="checkbox_label" for="option_<%=id%>"><%=label%></label>
          <input class="checkbox_options" type="checkbox" value="<%=id%>" name="option_<%=id%>" /><br>
          <%}}%>
        </section>
        <section class="restaurant_type sections">
          <h2>Service Type You Offer</h2>
          <% for(let i = 0; i < info.length; i++){
            let id = info[i].id;
            let label = info[i].name;
            let type = info[i].type;

            if(type === "Restaurant Type"){
          %>
          <label class="checkbox_label" for="option_<%=id%>"><%=label%></label>
          <input class="checkbox_options" type="checkbox" value="<%=id%>" name="option_<%=id%>" /><br>
          <%}}%>
        </section>
        <section class="culture_convenience sections">
          <h2>Culture and Convenience of Your Restaurant</h2>
          <% for(let i = 0; i < info.length; i++){
            let id = info[i].id;
            let label = info[i].name;
            let type = info[i].type;

            if(type === "Culture/Convenience"){
          %>
          <label class="checkbox_label" for="option_<%=id%>"><%=label%></label>
          <input class="checkbox_options" type="checkbox" value="<%=id%>" name="option_<%=id%>" /><br>
          <%}}%>
        </section>
        <section>
          <input class="submit_btn sections" id="submit_btn" type="submit" value="Submit Registration Form">
        </section>
      </form>
  </section>

  </div>
  <script src="javascripts/restaurant-options.js"></script>
</body>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</html>
